html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    background: linear-gradient( 90deg,rgb(174, 174, 174), rgba(211, 212, 211, 0.993), rgb(175, 175, 175));
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    margin: 20px 0px;
    border-radius: 5% ;
}

.body{
    scroll-snap-type: y proximity;
    overflow-y: scroll ;
    height: 100vh;
}
.col {
    
    justify-content: center;
    align-items: center;
    padding: 0px 50px;

}
a{
    color: rgb(38, 59, 7);
}
a:hover{
    color: violet;
    font-size: large;
}
.wrapper{
    display: inline-flex;
    
}
.wrapper .static-txt{
    font-size: 30px;

}
.wrapper .dynamic-txts{
    
    overflow: hidden;
    height: 70px;
    line-height: 60px;
    
}

.dynamic-txts li{
    font-size: 30px;
    color: rgb(77, 0, 105);
    list-style: none;
    top: 0;
    margin: 10px 0;
    font-weight: bold;
    position: relative;
    animation: slide 15.1s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -310px;
    }
}

.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    background: rgb(150, 158, 158);;
    height: 150%;
    left: 0;
    width: 100%;
    border-left: 2px solid rgb(77, 0, 105);
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 130%;
        margin: 0 -35px 35px;
    }
}
.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#d3d2d2,#4e4e4e);
    padding-left: 8%;
    padding-right: 8%;
   box-sizing: border-box;
   color: #fff;
   position: relative;
   z-index: 1;
   text-align: center;
   
}
.hero a:hover{
    color: rgb(0, 247, 255);
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-shadow: 0.25rem 0.25rem 1rem rgba(159, 255, 255, 0.795);
    transition: 0.5s;
}
.button {
 border: 2px solid #fff;
 padding: 6px 25px;
 border-radius: 30px;
 margin-left: 10px
}
.title {
 width: 60%;
 display: inline-block;
 margin: 100px auto 0;
 color: #fff;
}
.hero h1{
    margin-bottom: 30px;
    font-size: 50px;
}
.hero p{
    font-size: 16px;
    line-height: 24px;
}
.hero .row {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero .col {
    flex-basis: 22%;
    cursor: pointer;
}
.shape {
    margin-top: 80px;
    width: 230px;
    height: 220px;
    border: 2px solid #fff;
    border-radius: 126% 50% 80% 100% / 80% 50% 107% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s;
}
.inshape {
    width: 200px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 126% 100% 80% / 50% 80% 100% 107%;
    overflow: hidden;
    transition: 1s;
}
.content {
    position: relative;
}
.hero a{
    width: fit-content;
    text-decoration: none;
    color: aquamarine;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
.hero .col:hover .shape,.col:hover .inshape {
    width: 220px;
    height: 200px;
    border-radius: 77% 87% 77% 90% / 54% 52% 114% 107%;
}
.hero  .col:hover a {
    top: 80px;
}


.bkg1 {
    background: rgb(233, 0, 233);
}
.bkg2 {
    background: rgb(0, 212, 35);
}
.bkg3 {
    background: rgb(208, 223, 0);
}
.bkg4 {
    background: rgb(0, 4, 233);
}
.content {
    position: relative;
}

